################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kinar_Bakery/FileContentIndex/1583f91e-4bdd-4858-a2c0-397de1d45226.vsidx
*.vsidx
